.header {
	text-align: center;
}
.light-tile {
	background: #EBEBEB;
}
.dark-tile {
	background: #D8D8D8;
}
.selected {
	background: #778899;
}
.tile {
	width: 7.5vw;
	height: 7.5vw;
	display: inline-block;
	font-size: 5vw;
	text-align: center;
	vertical-align: middle;
	line-height: 7.5vw; /* div height */
}
.gameboard {
	width: 60vw;
	height: 60vw;
	margin: auto;
	font-size: 0;
}

.white-king:before {content:"\2654";}
.white-queen:before {content:"\2655";}
.white-rook:before {content:"\2656";}
.white-bishop:before {content:"\2657";}
.white-knight:before {content:"\2658";}
.white-pawn:before {content:"\2659";}
.black-king:before {content:"\265A";}
.black-queen:before {content:"\265B";}
.black-rook:before {content:"\265C";}
.black-bishop:before {content:"\265D";}
.black-knight:before {content:"\265E";}
.black-pawn:before {content:"\265F";}
